@import 'compass';


body {
    overflow-x: hidden;
    
}

.calligraphyBG {
    background: #fff url("../img/HandwritingBG.jpg") repeat center;
}

.starsBG {
    background: #000 url("../img/StarryNightWeb.png") repeat center;
}

#Legacy {
    color: #000;
}

.nav {
    background-color: #fff;
}

p {
    font-size: 120%;
}
.padmar {
    width: 100%;

    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#lauren {
    height: 460px;
}

#vimeoAD {
   // width: 640px;
   // height: 360px;
}

.bg-green {
    background-color: rgba(17,56,2,.87);
}

@font-face {
    font-family: freeStyle;
    src: url(../img/FreestyleScript.ttf);
}

.freeStyleH1 {
    font-family: freeStyle;
    font-size: 4em;
}

.freeStyleH4 {
    font-family: freeStyle;
    font-size: 2.5em;
}


footer h5, footer a {
    color: white;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#elfPic, #modelPic, #woodNymph, #apePic, #AlicePic {
    background-image: url('../img/elfPicThumb.jpg');
    display: inline-block;
    height: 100px;
    width: 100px;
    @include transition (all 0.5s);
}

#ThumbAlice, #ThumbElf, #Thumb3D {
    cursor: pointer;
    background-color: black;
}


#about {
    background-color: #a3a2a2;
}

.card {
    background-color: #EEE;
    margin-top: 10px;
}


#videoContainer {
    border: 2px;
    border-color: grey;
    background-color: #EEE;
    padding: 10px 0px;
}

.pcPic {

    width: 100%;
    padding: 0px;
    padding-left: 2%;
    padding-right: 2%;
}


#PC {
    position: absolute;
    display: block;
    top: 5%;
    left: 0%;
    width: 100%;
    z-index: 1;

}

#Tablet {
    position: absolute;
    display: block;
    top: 39.5%;     
    left: 31%;     
    width: 9.5%;   
    z-index: 5;
    @include transition (all 1s 0.2s);

}

#Tablet.loadPosition {
    left: 0%;
    top: 10%;
    width: 24%;
}

#Mobile {
    display: block;
    position: absolute;
    top: 46%;  
    left: 63%; 
    width: 4.5%; 
    z-index: 4;
    @include transition (width 1s 0.2s, left 1s 0.2s, top 1s 0.2s);
}


#Tablet2 {
    position: absolute;
    display: block;
    top: 51%;   
    left: 42.5%;   
    width: 3.75%;  
    z-index: 2;
    @include transition (width 1s 0.2s, left 1s 0.2s, top 1s 0.2s);
}

#Mobile2 {
    display: block;
    position: absolute;
    top: 53%;   
    left: 55%;  
    width: 2%;
    z-index: 3;
    @include transition (width 1s 0.2s, left 1s 0.2s, top 1s 0.2s);
}

#introText1 {
    display: none;
}
#introText2 {
    display: block;
}

#collageParent {
    display: block;
    position: relative;
}

#collage {
    display: block;
    position: relative;
    width: 94%;
    left: 3%;
    top: 7%;
    z-index: 1;
}

#designCode {
    display: block;
    position: absolute;
    width: 94%;
    left: 3%;
    top: 7%;
    z-index: 2;
    opacity: 0;
    @include transition-delay (1s);
    @include transition (all 1.5s ease-out);
}

#designCode.takePosition {
opacity: 1;
}

#davidParent {
    display: block;
    position: relative;
    padding: 0;
}

#davidBW {
    display: block;
    position: relative;
    width: 60%;
    left: 20%;
    top: 0;
    z-index: 1;
    box-shadow: 3px 3px 3px #777;
}

#david {
    display: block;
    position: absolute;
    width: 60%;
    left: 20%;
    top: 0;
    z-index: 2;
    border: 1px solid black;
    box-shadow: 3px 3px 3px #777;
    opacity: 0;
    @include transition-delay (1s);
    @include transition (all 1.5s ease-out);
}

#david.takePosition {
opacity: 1;
}

.card {
    min-height: 100%;
}

#thumbPromoVid {
    cursor: pointer;
}

#thumb3DVid {
    cursor: pointer;
}

footer {
    color: white;
}
footer a:hover, h6{
    text-decoration: none;
    color: #bbb;
}

@media (min-width: 970px) {
    #introText1 {
        display: block;
    }
    #introText2 {
        display: none;
    }

}

@media (max-width: 767px) {
    
.pcPic {

        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (max-width: 575px) {

collageGParent {
    justify-content: center;
}

#collage {

        width: 80%;
        margin: 0px auto;
    }

#elf {
    width: 32%;
}

#nebula {
    width: 23%;
}


}

#keepRatio {
    position: relative;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    
    padding: 0px;
    width: 100%;
    padding-bottom: 57% !important; /* 44% */


}

