/* line 4, ../sass/styles1.scss */
body {
  overflow-x: hidden;
}

/* line 9, ../sass/styles1.scss */
.calligraphyBG {
  background: #fff url("../img/HandwritingBG.jpg") repeat center;
}

/* line 13, ../sass/styles1.scss */
.starsBG {
  background: #000 url("../img/StarryNightWeb.png") repeat center;
}

/* line 17, ../sass/styles1.scss */
#Legacy {
  color: #000;
}

/* line 21, ../sass/styles1.scss */
.nav {
  background-color: #fff;
}

/* line 25, ../sass/styles1.scss */
p {
  font-size: 120%;
}

/* line 28, ../sass/styles1.scss */
.padmar {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 37, ../sass/styles1.scss */
#lauren {
  height: 460px;
}

/* line 46, ../sass/styles1.scss */
.bg-green {
  background-color: rgba(17, 56, 2, 0.87);
}

@font-face {
  font-family: freeStyle;
  src: url(../img/FreestyleScript.ttf);
}
/* line 55, ../sass/styles1.scss */
.freeStyleH1 {
  font-family: freeStyle;
  font-size: 4em;
}

/* line 60, ../sass/styles1.scss */
.freeStyleH4 {
  font-family: freeStyle;
  font-size: 2.5em;
}

/* line 66, ../sass/styles1.scss */
footer h5, footer a {
  color: white;
}

/* line 70, ../sass/styles1.scss */
footer ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

/* line 76, ../sass/styles1.scss */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* line 82, ../sass/styles1.scss */
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* line 90, ../sass/styles1.scss */
#elfPic, #modelPic, #woodNymph, #apePic, #AlicePic {
  background-image: url("../img/elfPicThumb.jpg");
  display: inline-block;
  height: 100px;
  width: 100px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 98, ../sass/styles1.scss */
#ThumbAlice, #ThumbElf, #Thumb3D {
  cursor: pointer;
  background-color: black;
}

/* line 104, ../sass/styles1.scss */
#about {
  background-color: #a3a2a2;
}

/* line 108, ../sass/styles1.scss */
.card {
  background-color: #EEE;
  margin-top: 10px;
}

/* line 114, ../sass/styles1.scss */
#videoContainer {
  border: 2px;
  border-color: grey;
  background-color: #EEE;
  padding: 10px 0px;
}

/* line 121, ../sass/styles1.scss */
.pcPic {
  width: 100%;
  padding: 0px;
  padding-left: 2%;
  padding-right: 2%;
}

/* line 130, ../sass/styles1.scss */
#PC {
  position: absolute;
  display: block;
  top: 5%;
  left: 0%;
  width: 100%;
  z-index: 1;
}

/* line 140, ../sass/styles1.scss */
#Tablet {
  position: absolute;
  display: block;
  top: 39.5%;
  left: 31%;
  width: 9.5%;
  z-index: 5;
  -moz-transition: all 1s 0.2s;
  -o-transition: all 1s 0.2s;
  -webkit-transition: all 1s;
  -webkit-transition-delay: 0.2s;
  transition: all 1s 0.2s;
}

/* line 151, ../sass/styles1.scss */
#Tablet.loadPosition {
  left: 0%;
  top: 10%;
  width: 24%;
}

/* line 157, ../sass/styles1.scss */
#Mobile {
  display: block;
  position: absolute;
  top: 46%;
  left: 63%;
  width: 4.5%;
  z-index: 4;
  -moz-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -o-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -webkit-transition: width 1s, left 1s, top 1s;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
  transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
}

/* line 168, ../sass/styles1.scss */
#Tablet2 {
  position: absolute;
  display: block;
  top: 51%;
  left: 42.5%;
  width: 3.75%;
  z-index: 2;
  -moz-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -o-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -webkit-transition: width 1s, left 1s, top 1s;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
  transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
}

/* line 178, ../sass/styles1.scss */
#Mobile2 {
  display: block;
  position: absolute;
  top: 53%;
  left: 55%;
  width: 2%;
  z-index: 3;
  -moz-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -o-transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
  -webkit-transition: width 1s, left 1s, top 1s;
  -webkit-transition-delay: 0.2s, 0.2s, 0.2s;
  transition: width 1s 0.2s, left 1s 0.2s, top 1s 0.2s;
}

/* line 188, ../sass/styles1.scss */
#introText1 {
  display: none;
}

/* line 191, ../sass/styles1.scss */
#introText2 {
  display: block;
}

/* line 195, ../sass/styles1.scss */
#collageParent {
  display: block;
  position: relative;
}

/* line 200, ../sass/styles1.scss */
#collage {
  display: block;
  position: relative;
  width: 94%;
  left: 3%;
  top: 7%;
  z-index: 1;
}

/* line 209, ../sass/styles1.scss */
#designCode {
  display: block;
  position: absolute;
  width: 94%;
  left: 3%;
  top: 7%;
  z-index: 2;
  opacity: 0;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

/* line 221, ../sass/styles1.scss */
#designCode.takePosition {
  opacity: 1;
}

/* line 225, ../sass/styles1.scss */
#davidParent {
  display: block;
  position: relative;
  padding: 0;
}

/* line 231, ../sass/styles1.scss */
#davidBW {
  display: block;
  position: relative;
  width: 60%;
  left: 20%;
  top: 0;
  z-index: 1;
  box-shadow: 3px 3px 3px #777;
}

/* line 241, ../sass/styles1.scss */
#david {
  display: block;
  position: absolute;
  width: 60%;
  left: 20%;
  top: 0;
  z-index: 2;
  border: 1px solid black;
  box-shadow: 3px 3px 3px #777;
  opacity: 0;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  -moz-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}

/* line 255, ../sass/styles1.scss */
#david.takePosition {
  opacity: 1;
}

/* line 259, ../sass/styles1.scss */
.card {
  min-height: 100%;
}

/* line 263, ../sass/styles1.scss */
#thumbPromoVid {
  cursor: pointer;
}

/* line 267, ../sass/styles1.scss */
#thumb3DVid {
  cursor: pointer;
}

/* line 271, ../sass/styles1.scss */
footer {
  color: white;
}

/* line 274, ../sass/styles1.scss */
footer a:hover, h6 {
  text-decoration: none;
  color: #bbb;
}

@media (min-width: 970px) {
  /* line 280, ../sass/styles1.scss */
  #introText1 {
    display: block;
  }

  /* line 283, ../sass/styles1.scss */
  #introText2 {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 291, ../sass/styles1.scss */
  .pcPic {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (max-width: 575px) {
  /* line 300, ../sass/styles1.scss */
  collageGParent {
    justify-content: center;
  }

  /* line 304, ../sass/styles1.scss */
  #collage {
    width: 80%;
    margin: 0px auto;
  }

  /* line 310, ../sass/styles1.scss */
  #elf {
    width: 32%;
  }

  /* line 314, ../sass/styles1.scss */
  #nebula {
    width: 23%;
  }
}
/* line 321, ../sass/styles1.scss */
#keepRatio {
  position: relative;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px;
  width: 100%;
  padding-bottom: 57% !important;
  /* 44% */
}
